*.iml
.gradle

/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

*.iml
.gradle
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
/build
*.iml
.gradle
/keystore.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.env
.vscode/
*.jks